.Header {
  margin: 0;
  box-sizing: border-box;
  padding: 1em;
  background-color: #854ef5;
}

.Header__Title {
  width: 100%;
  color: #fff;
  text-align: center;
}

.List {
  margin-block-start: 0;
  padding-inline-start: 0;
  list-style: none;
  background-color: #efefef;
}
