.Contact {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0.5em 1em;
  border-bottom: 2px solid #e5e5e5;
  cursor: pointer;
}

.Contact:hover {
  background-color: #e1e1e1;
}

.Contact__Avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2em;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.Contact__Avatar_Img {
  width: 100%;
  height: 100%;
}

.Contact__Info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Contact__Fullname {
  font-weight: bold;
}

.Contact__Email {
  color: #854ef5;
}

.Contact__CheckboxWraper {
  margin-left: auto;
}
